@import "~variable.scss";

.jumbotron{
  height: 450px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
  .container{
    display: inline-block;
    h1{
      font-size: $font-size;
    }
    .btn-success{
      border-radius: 30px;
    }
  }
}

.header-front__nav--heart {
    color: $global-background-color;
    font-size: $font-size;
}
